<h1><%= @user.first_name %> <%= @user.last_name %> @<%= @user.username %></h1>
<%= display_or_add_bio(@user) %>
<h3>Workouts</h3>
<ul>
  <% @workouts.each do |workout| %>
    <% if workout.user == current_user %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) %>
      <% if workout.private %>
        (private)
      <% end %></li>
    <% else %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) if !workout.private %></li>
    <% end %>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to "Create a new workout!", new_user_workout_path(current_user) %><br>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>