<h1><%= @user.first_name %> <%= @user.last_name %> @<%= @user.username %></h1>
<%= display_or_add_bio(@user) %>
<h3>Workouts</h3>
<ul>
  <% @workouts.each do |workout| %>
    <% if policy(workout).edit? %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) %>
      <% if workout.private %>
        (private)
      <% end %></li>
    <% elsif !workout.private %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) %></li>
    <% end %>
  <% end %>
</ul>

<h3>Favorites</h3>
<ul>
  <% @user.favorites.each do |favorite| %>
    <li><%= link_to favorite.workout.name, user_workout_path(favorite.workout.user, favorite.workout) %> 
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to "Create a new workout!", new_user_workout_path(current_user), class: 'btn btn-primary' %><br>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>