<h1><%= @user.first_name %> <%= @user.last_name %> (@<%= @user.username %>)</h1>
<% if @user.bio.present? %>
  <%= @user.bio %><br />
<% elsif  @user == current_user %>
  <%= link_to "Add Bio", edit_user_path(@user) %><br />
<% end %>

<h3>Workouts</h3>
<ul>
  <% @workouts.each do |workout| %>
    <li><%= link_to workout.name, user_workout_path(workout.user, workout) %></li>
  <% end %>
</ul>