<h1><%= @workout.name %></h1>
<p>by <%= link_to @workout.user.username, user_workouts_path(@workout.user) %> </p>
<p><%= @workout.description %></p>
<p>Duration: <%= @workout.duration %></p>
<% if current_user_workout? %>
  <%= link_to "Edit", edit_user_workout_path(@workout.user, @workout) %>  <%= link_to "Delete Workout", user_workout_path(@workout.user, @workout), method: 'delete' %><br />
<% end %>

<h3>Segments of this workout</h3>
<% @workout.focuses.each do |focus| %>
  <p><%= focus.name %></p>
  <p><%= focus.description %></p>
  <p>This will take about <%= focus.duration %> minutes.</p>
  <% if current_user_workout? %>
    <%= link_to "Edit", edit_workout_focus_path(@workout, focus) %> <%= link_to "Delete Focus", workout_focus_path(@workout, focus), method: :delete %><br />
  <% end %>
  -------------------- <br />
<% end %>

<%= link_to "Add a focus to this workout", edit_user_workout_path(@workout.user, @workout) if current_user_workout?%>
