<h1><%= @workout.name %></h1>
<p><%= @workout.description %></p>
<p>Duration: <%= @workout.duration %></p>
<%= link_to "Edit", edit_user_workout_path(@workout.user, @workout) %>  <%= link_to "Delete Workout", user_workout_path(@workout.user, @workout), method: 'delete' %>
----------------------
<% @workout.focuses.each do |focus| %>
  <p><%= focus.name %></p>
  <p><%= focus.description %></p>
  <p>This will take about <%= focus.duration %> minutes.</p>
  <%= link_to "Edit", edit_workout_focus_path(@workout, focus) %><br />
  -------------------- <br />
<% end %>
<%= link_to "Add a focus to this workout", edit_user_workout_path(@workout.user, @workout) %>