<h1>Hello <%= @user.first_name %></h1>

<p><%= link_to "Click for the most active user", admin_most_workouts_path %></p>


<p>Here's the latest activity:<p>
<ul>
  <% @workouts.reverse_each do |workout| %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) %> by <%= link_to workout.user.username, user_workouts_path(workout.user) %></li>
      <%= workout.description %>
  <% end %>
</ul>

