Edit the Focus:

<% if @focus.errors.any? %>
 <div id="error_explanation">
   <h2>Errors:</h2>
   <ul>
   <% @focus.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%= form_for ([@workout, @focus]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :description %>
  <%= f.text_field :description %><br />
  <%= f.label "Number of Minutes" %>
  <%= f.number_field :duration %><br />
  <%= f.submit %>
<% end %>