<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Workouts</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
  <body>

  <%= render 'layouts/navigation' %>

  <div class="container-fluid">

    <% flash.each do |name, msg| %>
      <% if name == "error" %>    
        <div class="alert alert-danger" role="alert"><%= msg %></div>
      <% elsif name == "notice" %>
        <div class="alert alert-success" role="alert"><%= msg %></div>
      <% else %>
        <div class="alert alert-info" role="alert"><%= msg %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
